.container {
    width: 90%;
    margin: 10px auto;
    padding: 20%;
    
}

.search-container{
    position: relative;
    margin-top: 40px;
    padding: 1em;
    border-radius: 22px;
   
}

.search{
    position: absolute;
    top:17px;
    left: 10px;



}

.microphone{

position: absolute;
top: 15px;
right: 8px;


}